content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#backround{
    height: 725px;
}
body { 
    background-color: #0f396f;
}
header {
    background-color: #0f396f
}
nav a:hover { 
    background-color: #0f396f
}
footer {
    background-color: #0f396f
}
nav a:msg {
    background-color: #0f396f
}
